@import 'bourbon';
@import 'neat';

@import 'variables';

body {
  background-attachment: fixed;
  background-image: url('images/jaco.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-foreground;
  font-family: $font-normal;
  font-size: $height-normal;
  font-weight: 300;
  line-height: $height-normal * $line-ratio;
  margin: 0;
}

.light {
  color: $color-heading;
}

.center {
  text-align: center;
}

.intro {
  color: $color-light;
  font-family: $font-cursive;
  height: 22em;
  padding: 4em 6em 0;

  position: relative;

  &:after {
    background-image: url('images/ethcore-logo-white-square.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 10em;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 6em;
    top: 6em;
    z-index: -1;
  }

  &:before {
    background: $color-background-intro;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }

  .large {
    font-size: $height-xlarge;

    padding-bottom: 1em;
  }

  .normal {
    font-size: $height-large;
    padding: .2em 0;

    &.spaced {
      margin-bottom: .75em;
    }
  }

  a {
    color: inherit;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
      color: inherit;
    }
  }
}

.container {
  background-color: $color-background;
  padding: 2.5em 0;
}

.section {
  @include outer-container;
  padding: 1.5em 0;

  .header {
    border-bottom: 1px solid $color-heading;
    color: $color-heading;
    font-size: $height-large;
    margin-bottom: .5em;
  }

  .content {
    .requirement {
      @include span-columns(12);
      margin-bottom: .75em;

      .match {
        @include span-columns(7);
        color: $color-light;
        font-family: $font-cursive;
        font-size: $height-cursive;
      }

      .spec {
        @include span-columns(5);

        .column {
          @include span-columns(6);
        }

        &>.column {
          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }
}
