$color-foreground: #333;
$color-background: rgba(255, 255, 255, 0.85);
$color-background-intro: rgba(0, 0, 0, 0.85);
$color-heading: #666;
$color-light: #777;

$height-normal: 1.2em;
$height-small: .75em;
$height-large: 1.5em;
$height-cursive: 1.5em;
$line-ratio: 1.3;
