@import 'bourbon';
@import 'neat';

$color-foreground: #333;
$color-background: rgba(255, 255, 255, 0.95);
$color-heading: #666;
$color-light: #888;

$height-normal: 1.2em;
$height-small: .75em;
$height-large: 1.5em;
$height-cursive: 1.6em;
$line-ratio: 1.3;

body {
  background: url('images/jaco.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-foreground;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $height-normal;
  font-weight: 300;
  line-height: $height-normal * $line-ratio;
  margin: 0;
}

.light {
  color: $color-heading;
}

.center {
  text-align: center;
}

.container {
  background: $color-background;
  margin-top: 15em;
}

.section {
  @include outer-container;
  padding: 1.5em 0;

  .header {
    border-bottom: 1px solid $color-heading;
    color: $color-heading;
    font-size: $height-large;
    margin-bottom: .5em;
  }

  .content {
    .requirement {
      @include span-columns(12);
      margin-bottom: .5em;

      .match {
        @include span-columns(6);
        color: $color-light;
        font-family: 'Reenie Beanie', cursive;
        font-size: $height-cursive;
      }

      .spec {
        @include span-columns(6);

        .column {
          @include span-columns(6);
        }

        &>.column {
          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }
}
